#message-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 60px;
    text-align: center;
    font-size: 16px;
    border-radius: 32px;
    max-width: 80%;
}

#message-box input[type="text"] {
    display: block;
    margin-bottom: 10px;
    width: 110%;
    padding: 5px;
    border-radius: 80px;
    border: 1px solid #ccc;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #999;
}

.close-button:hover {
    color: #000;
}